<html>
<head>
    <title>Tuto</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css'%}">
    
    
</head>
<div>
    <body>
        <h1>The Official Tuto Website</h1>
        <p>Este site se encontra em desenvolvimento.</p>
        <a>Don't Panic.</a>

    </body>
</div>
{% for post in all_posts %}
    <div>
        <h2>{{ post.titulo }}</h2>
        <p>{{post.data_publicacao}}</p>
        <p>{{ post.texto }}</p>
    </div>
    
{% endfor %}
</html>
