<html>
    <style>
        body {
font-family: arial, sans-serif;
}
h1 {
color: orange;
}
p {
border-style: solid;
border-color: green;
border-width: 10px;
}
a {
color: red;
text-decoration: none;
background-color: lightpink;
}
    </style>

<head>
    <title>First Website</title>
    <link type="text/css" rel="stylesheet" href="regras.css">
</head>
<body>
    <h1>This site is hosted locally on port 8000.</h1>
    <p>It still serves no purpose, but it will get there.</p>
    <a>Don't Panic.</a>
</body>
</html>
